<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ContactUs</title>

	<style type="text/css">
		.navbar {
			background-color: lightblue;
		}
		.navbar ul {
			overflow: auto;
		}

		.navbar li {
			float: right;
			list-style: none;
			padding: 5px 5px;
			margin: 10px 15px;
			
		}
		.navbar li a {
			text-decoration: none;
		}
		body
		{
			background-color: royalblue;
         }
		 

	</style>
		
</head>
<body>

	<header>
		<nav class="navbar">
			<ul>
				
				<li> <a href="I_Registration.php">Registration</a> </li>
				<li> <a href="I_Login.php">Login</a> </li>
				<li> <a href="I_Home.html"> Home</a></li>
				
			</ul>
		</nav>

	</header>

	<table align="center" border="3" width="100px" >
		<tr>
			<td width="40px">Name</td>
			<td width="60px">Number</td>
		</tr>

		<tr>
			<td>Raiyan</td>
			<td>01700000000</td>
		</tr>

		<tr>
			<td>Mahir</td>
			<td>01800000000</td>
		</tr>
	</table>

</body>
</html>