<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="../views/I_Home.css">
</head>
<body>
	<header>
		<nav class="navbar">
			<ul>

				<li> <a href="I_contactus.html">Contact Us</a> </li>
				<li> <a href="I_Registration.php">Registration</a> </li>
				<li> <a href="I_login.php">Login</a> </li>

			</ul>
		</nav>

	</header>

<br><br><br><br><br><br><br><br>

	<h1 align="center">
		Welcome to Uni Hub !
	</h1>



</body>
</html>
